body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

/*login, register, forgot password, activate page CSS*/

.customTopnav {
    overflow: hidden;
    background-color: #1a8cff;
    margin: 1% 18% 5% 18%;
}

.customTopnav span {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.customTopnav a:hover {
    background-color: #ddd;
    color: black;
}

.customTopnav a.active {
    background-color: #4CAF50;
    color: white;
}

.customTopnav-right {
    float: right;
}
.customFooter {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #1a8cff;
    text-align: center;
    margin: 5% 18% 1% 18%;
}

.customFooter span {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.loginContent {
    padding: 2rem;
    background: #ffffff;
    border-radius: 0.4rem;
    box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1),
        0 3px 6px 0 rgba(0, 0, 0, 0.07);
    margin: auto;
    margin-top: 8%;
    width: 30%;
}

.forgotPassContent {
    padding: 2rem;
    background: #ffffff;
    border-radius: 0.4rem;
    box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1),
        0 3px 6px 0 rgba(0, 0, 0, 0.07);
    margin: auto;
    margin-top: 9%;
    width: 30%;
}

.registerContent {
    padding: 2rem;
    background: #ffffff;
    border-radius: 0.4rem;
    box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1),
        0 3px 6px 0 rgba(0, 0, 0, 0.07);
    margin: auto;
    margin-top: 5%;
    width: 50%;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.register {
    background-color: #d5444b;
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
}

.register:hover, .register:active {
    background-color: #606c76;
    color: white;
}

.link:hover {
    text-decoration: underline;
}

.table {
    width: 30%;
}