body {font-family: Arial, Helvetica, sans-serif;}

.navbar {
  width: 100%;
  background-color: #d02f37;
  overflow: auto;
  margin-bottom: 1%;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #bb2a32;
}

.navbar span {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 17px;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.topnav-right {
  float: right;
}

.link:hover {
    text-decoration: underline;
}

.viewPostContent {
    padding: 2rem;
    background: #ffffff;
    border-radius: 0.4rem;
    box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1),
        0 3px 6px 0 rgba(0, 0, 0, 0.07);
    margin: auto;
    width: 75%;
    margin-bottom: 1%;
}

.editPost {
    background-color: #d33c43;
    color: white;
    padding: 2px 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 10px;
    border-radius: 8px;
    width: 48%;
}

.editPost:hover {
    background-color: #ff6666;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.deletePost {
    background-color: #d33c43;
    color: white;
    padding: 2px 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 1px;
    margin-top: 2px;
    margin-bottom: 10px;
    border-radius: 8px;
    width: 48%;
}

.deletePost:hover {
    background-color: #ff0000;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.sharePost {
    background-color: #d33c43;
    color: white;
    padding: 2px 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 10px;
    border-radius: 8px;
    width: 10%;
}

.sharePost:hover {
    background-color: #ff6666;
    color: white;
}

.likePost {
    background-color: #d33c43;
    color: white;
    padding: 2px 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 10px;
    border-radius: 8px;
    width: 10%;
}

.likePost:hover {
    background-color: #ff6666;
    color: white;
}

.unlikePost {
    background-color: #ff6666;
    color: white;
    padding: 2px 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 10px;
    border-radius: 8px;
    width: 10%;
}

.unlikePost:hover {
    background-color: #d33c43;
    color: white;
}

.editProfile {
    background-color: white;
    padding: 2px 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 10px;
    border-radius: 8px;
    width: 100%;
}

.editProfile:hover {
    border: 2px solid #d33c43;
}

.editProfileContent {
    padding: 2rem;
    background: #ffffff;
    border-radius: 0.4rem;
    box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1),
        0 3px 6px 0 rgba(0, 0, 0, 0.07);
    width: 50%;
    margin-bottom: 2%;
    margin: auto;
}

.deactivate {
    background-color: #d33c43;
    color: white;
    padding: 2px 20px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    margin-left: 1px;
    margin-top: 2px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.deactivate:hover {
    background-color: #ff0000;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.deactivate:link {
  color: white;
}

.follow {
    background-color: white;
    padding: 2px 20px;
    text-align: center;
    text-decoration: none;
    /*text-transform: capitalize;*/
    display: inline-block;
    margin-top: 10px;
    border-radius: 8px;
    width: 100%;
    border: 2px solid #d33c43;
}

input[type='file']{
    background-color:#d33c43;
    border:0.1rem solid #d33c43;
    border-radius:.4rem;
    color:#fff;
    cursor:pointer;
    display:inline-block;font-size:1.1rem;
    font-weight:700;
    height:3.8rem;
    letter-spacing:.1rem;
    line-height:2rem;
    padding:.5rem;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
}

.commentsBtn {
    background-color:#d33c43;
    border:0.1rem solid #d33c43;
    border-radius:.4rem;
    color:#fff;
    cursor:pointer;
    display:inline-block;
    font-size:1.1rem;
    font-weight:700;
    height:3.8rem;
    letter-spacing:.1rem;
    line-height:3.8rem;
    padding:0 3.0rem;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    white-space:nowrap;
    width: 30%;
}

/*.countChar {
    font-size: 75% !important;
    margin-top: -2% !important;
}*/

.fa-trash, .fa-edit, .fa-share-square-o {
    padding-top: 1%;
}

.fa-thumbs-o-up, .fa-thumbs-up {
    padding-right: 0.5%;
}

.fa-arrow-circle-right:hover, 
.fa-trash:hover, 
.fa-edit:hover, 
.fa-share-square-o:hover, 
.fa-thumbs-o-up:hover, 
.fa-thumbs-up:hover {
    transform: scale(1.5);
    padding-left: 1%;
    padding-right: 1%;
    color: #d33c43;
}

.fa-arrow-circle-right, 
.fa-trash, 
.fa-edit, 
.fa-share-square-o, 
.fa-thumbs-o-up, 
.fa-thumbs-up {
    color:#2f85ae;
}