
/*Load more design for index in PostsController*/

.list {
    margin: 0px auto;
    width: 100%;
}
.list-element {
    text-align: center;
    display: none;
}
#loadmore {
    background-color:#d33c43;
    border:0.1rem solid #d33c43;
    border-radius:.4rem;
    color:#fff;
    cursor:pointer;
    display:inline-block;
    font-size:1.1rem;
    font-weight:700;
    height:3.8rem;
    letter-spacing:.1rem;
    line-height:3.8rem;
    padding:0 3.0rem;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    width: 100%;
}

#loadmore:hover {
    background-color:#606c76;
    border-color:#606c76;
    color:#fff;
    outline:0
}

.list .list-element:nth-child(1) {
    display: block;
}
.list .list-element:nth-child(2) {
    display: block;
}
.list .list-element:nth-child(3) {
    display: block;
}
.list .list-element:nth-child(4) {
    display: block;
}

/*Load more design for timeline in UsersController*/

.list-timeline {
    margin: 0px auto;
    width: 100%;
}
.list-timeline-element {
    text-align: center;
    display: none;
}
#loadmoreTimeline {
    background-color:#d33c43;
    border:0.1rem solid #d33c43;
    border-radius:.4rem;
    color:#fff;
    cursor:pointer;
    display:inline-block;
    font-size:1.1rem;
    font-weight:700;
    height:3.8rem;
    letter-spacing:.1rem;
    line-height:3.8rem;
    padding:0 3.0rem;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    width: 100%;
}

#loadmoreTimeline:hover {
    background-color:#606c76;
    border-color:#606c76;
    color:#fff;
    outline:0
}

.list-timeline .list-timeline-element:nth-child(1) {
    display: block;
}
.list-timeline .list-timeline-element:nth-child(2) {
    display: block;
}
.list-timeline .list-timeline-element:nth-child(3) {
    display: block;
}
.list-timeline .list-timeline-element:nth-child(4) {
    display: block;
}
.list-timeline .list-timeline-element:nth-child(5) {
    display: block;
}
.list-timeline .list-timeline-element:nth-child(6) {
    display: block;
}

/*Load more design for comments in View Post*/

.list-comment {
    margin: 0px auto;
    width: 100%;
}
.list-comment-element {
    text-align: center;
    display: none;
}
#loadmoreComment {
    background-color:#d33c43;
    border:0.1rem solid #d33c43;
    border-radius:.4rem;
    color:#fff;
    cursor:pointer;
    display:inline-block;
    font-size:1.1rem;
    font-weight:700;
    height:3.8rem;
    letter-spacing:.1rem;
    line-height:3.8rem;
    padding:0 3.0rem;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    width: 100%;
}

#loadmoreComment:hover {
    background-color:#606c76;
    border-color:#606c76;
    color:#fff;
    outline:0
}

.list-comment .list-comment-element:nth-child(1) {
    display: block;
}
.list-comment .list-comment-element:nth-child(2) {
    display: block;
}
.list-comment .list-comment-element:nth-child(3) {
    display: block;
}

/*For User Search Results*/

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px;
}
.list-UserSearch {
    margin: 0px auto;
    width: 100%;
}
.list-UserSearch-element {
    text-align: center;
    display: none;
}
#loadmoreUserSearch {
    background-color:#d33c43;
    border:0.1rem solid #d33c43;
    border-radius:.4rem;
    color:#fff;
    cursor:pointer;
    display:inline-block;
    font-size:1.1rem;
    font-weight:700;
    height:3.8rem;
    letter-spacing:.1rem;
    line-height:3.8rem;
    padding:0 3.0rem;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    width: 100%;
}

#loadmoreUserSearch:hover {
    background-color:#606c76;
    border-color:#606c76;
    color:#fff;
    outline:0
}

.list-UserSearch .list-UserSearch-element:nth-child(1) {
    display: block;
}
.list-UserSearch .list-UserSearch-element:nth-child(2) {
    display: block;
}
.list-UserSearch .list-UserSearch-element:nth-child(3) {
    display: block;
}
.list-UserSearch .list-UserSearch-element:nth-child(4) {
    display: block;
}
.list-UserSearch .list-UserSearch-element:nth-child(5) {
    display: block;
}
.list-UserSearch .list-UserSearch-element:nth-child(6) {
    display: block;
}

/*For Post Search Results*/

.list-PostSearch {
    margin: 0px auto;
    width: 100%;
}
.list-PostSearch-element {
    text-align: center;
    display: none;
}
#loadmorePostSearch {
    background-color:#d33c43;
    border:0.1rem solid #d33c43;
    border-radius:.4rem;
    color:#fff;
    cursor:pointer;
    display:inline-block;
    font-size:1.1rem;
    font-weight:700;
    height:3.8rem;
    letter-spacing:.1rem;
    line-height:3.8rem;
    padding:0 3.0rem;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    width: 100%;
}

#loadmorePostSearch:hover {
    background-color:#606c76;
    border-color:#606c76;
    color:#fff;
    outline:0
}

.list-PostSearch .list-PostSearch-element:nth-child(1) {
    display: block;
}
.list-PostSearch .list-PostSearch-element:nth-child(2) {
    display: block;
}
.list-PostSearch .list-PostSearch-element:nth-child(3) {
    display: block;
}

/*Show shares and show likes lists button*/

#showLikes {
    background-color:#d33c43;
    border:0.1rem solid #d33c43;
    border-radius:.4rem;
    color:#fff;
    cursor:pointer;
    display:inline-block;
    font-size:1.1rem;
    font-weight:700;
    height:3.8rem;
    letter-spacing:.1rem;
    line-height:3.8rem;
    padding:0 3.0rem;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    margin-right: 1%;
}

#showLikes:hover {
    background-color:#606c76;
    border-color:#606c76;
    color:#fff;
    outline:0
}

#showShares {
    background-color:#d33c43;
    border:0.1rem solid #d33c43;
    border-radius:.4rem;
    color:#fff;
    cursor:pointer;
    display:inline-block;
    font-size:1.1rem;
    font-weight:700;
    height:3.8rem;
    letter-spacing:.1rem;
    line-height:3.8rem;
    padding:0 3.0rem;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    margin-right: 1%;
}

#showShares:hover {
    background-color:#606c76;
    border-color:#606c76;
    color:#fff;
    outline:0
}

